.wrapper {
  width: 100%;
  background-color: white;
}

.welcome {
  font-size: 40px;
  color: #ed181e;
  text-align: center;
}

/* MEDIA QUERIES */
@media (max-width: 800px) {
  .welcome {
    font-size: 20px;
  }
}
